PORT=8083
DB_URL=jdbc:postgresql://<RDS_ENDPOINT>:5432/polleria_payments
DB_USERNAME=polleria_admin
DB_PASSWORD=your_password_here
JWT_SECRET=your_shared_jwt_secret_here
CORS_ALLOWED_ORIGINS=http://localhost:4200
ORDERS_SERVICE_URL=http://localhost:8082
MERCADOPAGO_ACCESS_TOKEN=APP_USR-2733300582350003-082916-7d60b458fb460f2ef2eb803852c0935e-3645988283
MERCADOPAGO_PUBLIC_KEY=APP_USR-c425e605-dfe3-4ce3-bf50-aa60558e02b9
MERCADOPAGO_WEBHOOK_URL=http://localhost:8083/pagos/webhook/mercadopago
