DB_URL=jdbc:postgresql://polleria-db.cgjoewsioc86.us-east-1.rds.amazonaws.com:5432/polleria_orders
DB_USERNAME=polleria_admin
DB_PASSWORD=tu_password

JWT_SECRET=mismo_secreto_que_auth_service_minimo_32_chars

CORS_ALLOWED_ORIGINS=http://localhost:4200

PORT=8082
